PORT=3000
ADMIN_EMAIL=phantasmocazdor@gmail.com
ADMIN_PASSWORD=password
SESSION_SECRET=replace-with-a-long-random-value
DOWNLOAD_SECRET=replace-with-a-second-long-random-value
STRIPE_WEBHOOK_SECRET=placeholder
PAYPAL_WEBHOOK_ID=placeholder
PRIVATE_IMAGE_HOSTS=i.postimg.cc,postimg.cc
